doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title Document
    body 
        header.header 
            .container 
                .header__logo 
                    img.header__img(src="../../img/img.jpg", alt="")
                .header__ol 
                    ol.header__li 
                        li SHOP
                        li ABOUT
                        li INNOVATION
                        li LOGIN
                        li CART 
        main 
            section.section 
                .main 
                    h1.main__h1 ANTI 
                        span.main__span DESIGN
                    p.main__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Libero in mauris est condimentum suscipit. Viverra tincidunt amet aliquet massa rhoncus egestas eget id turpis. Augue nunc. 
        footer 
            .footer
                .footer__img 
                    img.footer__photo(src="../../img/jpg.jpg", alt="")

